<div id="<%= dom_id movement %>">
  <p>
    <strong>Movement type:</strong>
    <%= movement.movement_type %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= movement.amount %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= movement.category.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= movement.user.email %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= movement.description %>
  </p>

</div>
